<?xml version="1.0" encoding="utf-8" ?>
<Settings>
    <Ratios>
        <Orb type="GemCutterPrism" orbamount="1" gcpamount="1"/>
        <Orb type="Exhaulted" orbamount="1" gcpamount="6"/>
        <Orb type="Divine" orbamount="1" gcpamount="3"/>
        <Orb type="Chisel" orbamount="48" gcpamount="5"/>
        <Orb type="Regal" orbamount="3" gcpamount="1"/>
        <Orb type="Chaos" orbamount="3" gcpamount="1"/>
        <Orb type="Regret" orbamount="3" gcpamount="1"/>
        <Orb type="Blessed" orbamount="4" gcpamount="1"/>
        <Orb type="Scouring" orbamount="6" gcpamount="1"/>
        <Orb type="Fusing" orbamount="6" gcpamount="1"/>
        <Orb type="Alchemy" orbamount="6" gcpamount="1"/>
        <Orb type="AlchemyShard" orbamount="120" gcpamount="1"/>
      <Orb type="Chance" orbamount="48" gcpamount="1"/>
        <Orb type="JewelersOrb" orbamount="24" gcpamount="1"/>
        <Orb type="Alteration" orbamount="48" gcpamount="1"/>
        <Orb type="Chromatic" orbamount="60" gcpamount="1"/>      
    </Ratios>
    <UserSettings>
        <Setting name="AccountLogin" value="" />
        <Setting name="AccountPassword" value="" />
        <Setting name="FavoriteLeague" value="" />
        <Setting name="FavoriteCharacter" value="" />
    </UserSettings>
    <ProxySettings>
        <Setting name="Enabled" value="False" />
        <Setting name="Username" value="" />
        <Setting name="Password" value="" />
        <Setting name="Domain" value="" />
    </ProxySettings>
</Settings>