<?xml version="1.0" encoding="utf-8" ?>
<Settings>
    <Ratios>
        <Orb type="Mirror" orbamount="1" gcpamount="450"/>
        <Orb type="Eternal" orbamount="1" gcpamount="30"/>
        <Orb type="Imprint" orbamount="1" gcpamount="0"/>      
        <Orb type="Exalted" orbamount="1" gcpamount="15"/>
        <Orb type="Divine" orbamount="1" gcpamount="3"/>
        <Orb type="GemCutterPrism" orbamount="1" gcpamount="1"/> 
        <Orb type="Chisel" orbamount="8" gcpamount="1"/>
        <Orb type="Regal" orbamount="3" gcpamount="1"/>
        <Orb type="Chaos" orbamount="4" gcpamount="1"/>
        <Orb type="Regret" orbamount="3" gcpamount="1"/>
        <Orb type="Blessed" orbamount="16" gcpamount="1"/>
        <Orb type="Scouring" orbamount="16" gcpamount="1"/>
        <Orb type="Fusing" orbamount="8" gcpamount="1"/>
        <Orb type="Alchemy" orbamount="8" gcpamount="1"/>
        <Orb type="AlchemyShard" orbamount="160" gcpamount="1"/>
        <Orb type="Chance" orbamount="64" gcpamount="1"/>
        <Orb type="JewelersOrb" orbamount="32" gcpamount="1"/>
        <Orb type="Alteration" orbamount="64" gcpamount="1"/>
        <Orb type="Chromatic" orbamount="60" gcpamount="1"/>
    </Ratios>
    <UserSettings>
        <Setting name="AccountLogin" value="" />
        <Setting name="AccountPassword" value="" />
        <Setting name="FavoriteLeague" value="" />
        <Setting name="FavoriteCharacter" value="" />
        <Setting name="CompactMode" value="false" />
        <Setting name="DownloadOnlyMyLeagues" value="false" />
        <Setting name="CurrencyDistributionMetric" value="GemCutterPrism" />
    </UserSettings>
    <ProxySettings>
        <Setting name="Enabled" value="False" />
        <Setting name="Username" value="" />
        <Setting name="Password" value="" />
        <Setting name="Domain" value="" />
    </ProxySettings>
    <Lists>
        <List name="MyLeagues">
            <Item value="Standard"/>
            <Item value="Hardcore"/>
            <Item value="Onslaught"/>
            <Item value="Anarchy"/>
        </List>
        <List name="AdditionalTemplates">
            <!--Add yours own templates here. Eg-->
            <!--<Item value="LvlingShop.txt"/>-->
        </List>
    </Lists>
</Settings>